body{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
 
}
body h1 {
    color:rgb(17, 150, 150);
    font-size: 40px;

}
.container{
    width: 300px;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
      box-shadow: 0 0 10px #ddd;
       font-weight: bold;
}
.display{
    grid-column: span 4;
    height: 60px;
    background-color: white;
    border-radius: 10px;
      box-shadow: 0 0 10px #ddd;
      font-weight: bold;

}
.cell{
    background: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
       box-shadow: 0 0 10px #ddd;


}
.oper{
    background-color: red;
}
.operator{
 background: black;
 color: white;
}