
.investors{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   

}
.card{
    text-align: center;
    padding: 10px;
    margin: 10px;
    
}

.card img{
    width: 100%;
    height: 250px;
 object-fit: cover;

}
.info{
 font-family:sans-serif;
 padding: 15px;

}
.info h3{
font-weight: bold;
margin: 5px 0;
font-size: 16px;
}
.info p{
color: rgb(131, 125, 125);
font-size: 16px;
margin: 4px 0 10px;
}
.info img{
    width: 100px;
    height: auto;
    margin-top: 5px;

}