body{
    display: flex;
    background-color: white;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width: 500px;
    background-color: white;
    border: 3px solid rgb(231, 213, 213);
    text-align: left;
    padding-bottom: 10px;
}

.product-img {
  width: 80%;
  height: auto;
  border-bottom: 1px solid #eee;
  padding-left: 30px;
}
.product-details{
    padding: 15px 20px; 
}
.product-details h3{
     font-size: 20px;
  font-weight: bold;
  margin: 5px;
  color: black;
}
.desc{
    font-size: 16px;
    color: rgb(183, 180, 180);
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 4px;
}
.rating{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.rating-box{
    background-color: rgb(26, 168, 26);
    color: white;
    font-size: 15px;
   border-radius: 4px;
   padding: 5px 10px; 
}
.reviews{
    color:rgb(114, 110, 110)
}
.logo-img{
    width: 100px;
    height: auto;
}
.price-details{
    margin: 22px;

}
.price{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.old-price{
    font-size: 18px;
    color: rgb(155, 145, 145);
    text-decoration: line-through;
    margin-left: 10px;
}
.discount{
    font-size: 18px;
    margin-left: 10px;
    color: green;
    font-weight: bold;

}
.offers{
    color: green;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
button{
    width: 100%;
    background-color: blue;
    color: white;
   border: none;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #04070d;
}